@charset "utf-8";
/* CSS Document */

.parallax-1 {
    /* The image used */
    background-image: url("../img/banner/office.jpg");
   
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* Start Barand Area css
============================================================================================ */
.brand_area {
    padding-bottom: 170px; }
    @media (max-width: 1199px) {
      .brand_area {
        padding-bottom: 80px; } }

.single-brand-item-2 {
    margin: 0 auto;
    
}
.single-brand-item img {
    cursor: pointer;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s
}

.d-table-2 {
    display: table !important;
}

.d-table-row-2 {
    display: table-row !important;
}

.d-table-cell-2 {
    display: table-cell !important;
}

  /* End Barand Area css */
.site-list {
  padding: 0;
  margin: 0; }
  .site-list li {
    margin: 0 0 10px 0;
    padding: 0;
    position: relative;
    list-style: none; }
    .site-list li:before {
      font-family: 'icomoon';
      position: absolute;
      top: .1em;
      left: 0; }
    .site-list li.site-check {
      padding-left: 30px; }
      .site-list li.site-check:before {
		color: #ed239f;
        /* color: #57d131; */
        font-size: 16px;
        content: "\ebd3"; }

	.site-list li.site-check-2 {
      padding-left: 30px; }
      .site-list li.site-check-2:before {
		color: #57d131;
        font-size: 16px;
        content: "\ebd3"; }

.progress {
  overflow: visible;
  margin-bottom: 26px;
  height: 4px; }
  .progress .progress-bar {
    background-color: #ed239f;
    position: relative;
    border-radius: 4px; }
    .progress .progress-bar span {
      background-color: #ed239f;
      position: absolute;
      bottom: -20px;
      font-size: 10px;
      line-height: 10px;
      padding: 2px 3px 2px 4px;
      right: -1.4em;
      border-radius: 2px; }
    .progress .progress-bar span:after {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #ed239f;
      border-width: 5px;
      margin-left: -5px; }

.skill h3 {
  font-size: 18px; }

.resume-header {
	color: #1345e6;
}

.resume-item {
  padding: 40px;
  background: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  border: 4px solid transparent; }
  .resume-item:hover, .resume-item:focus {
    border: 4px solid #ed239f;
    -webkit-box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1); }
  .resume-item .date {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: .1em;
    color: #b3bdc6;
    text-transform: uppercase; }
  .resume-item .school {
    display: block;
    font-size: 20px; }
  .resume-item h3, .resume-item .school {
    color: #2c3e50; }


@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .brand-carousel .single-brand-item {
        height: 100px;
        width: 140px
    }
}

/* Loader */
  #ftco-loader {
    position: fixed;
    width: 96px;
    height: 96px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
    -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    z-index: 1000; }
  
  #ftco-loader.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  
  #ftco-loader.show {
    -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
    transition: opacity .4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1; }
  
  #ftco-loader .circular {
    -webkit-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    display: block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  
  #ftco-loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: loader-dash 1.5s ease-in-out infinite;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round; }
  
  @-webkit-keyframes loader-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  
  @keyframes loader-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  
  @-webkit-keyframes loader-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0; }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px; }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -136px; } }
  
  @keyframes loader-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0; }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px; }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -136px; } }

/* Experience Section */

    .no-gutters {
        margin-right: 0;
        margin-left: 0; }
        .no-gutters > .col,
        .no-gutters > [class*="col-"] {
        padding-right: 0;
        padding-left: 0; }

    .ftco-section {
    padding: 7em 0;
    position: relative; }
    @media (max-width: 767.98px) {
        .ftco-section {
        padding: 6em 0; } }
    
    .ftco-no-pt {
    padding-top: 0 !important; }
    
    .ftco-no-pb {
    padding-bottom: 0 !important; }
  


    .nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none; }
      
      .nav-link {
        display: block;
        padding: 0.5rem 1rem; }
        .nav-link:hover, .nav-link:focus {
          text-decoration: none; }
        .nav-link.disabled {
          color: #6c757d;
          pointer-events: none;
          cursor: default; }
      
      .nav-tabs {
        border-bottom: 1px solid #dee2e6; }
        .nav-tabs .nav-item {
          margin-bottom: -1px; }
        .nav-tabs .nav-link {
          border: 1px solid transparent;
          border-top-left-radius: 0.25rem;
          border-top-right-radius: 0.25rem; }
          .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
            border-color: #e9ecef #e9ecef #dee2e6; }
          .nav-tabs .nav-link.disabled {
            color: #6c757d;
            background-color: transparent;
            border-color: transparent; }
        .nav-tabs .nav-link.active,
        .nav-tabs .nav-item.show .nav-link {
          color: #495057;
          background-color: #fff;
          border-color: #dee2e6 #dee2e6 #fff; }
        .nav-tabs .dropdown-menu {
          margin-top: -1px;
          border-top-left-radius: 0;
          border-top-right-radius: 0; }
      
      .nav-pills .nav-link {
        border-radius: 0.25rem; }
      
      .nav-pills .nav-link.active,
      .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #007bff; }
      
      .nav-fill .nav-item {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        text-align: center; }
      
      .nav-justified .nav-item {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        text-align: center; }
      
      .tab-content > .tab-pane {
        display: none; }
      
      .tab-content > .active {
        display: block; }
        
        