@charset "utf-8";
/* CSS Document */

.mobile {
    display: none;
}

.no-mobile {
    display: block;
}

.skill-mobile {

}

@media (max-width: 990px) {
    .mobile {
        display: block;
    }
    .no-mobile {
        display: none;
    }
}

@media (min-width: 991px) {
    .mobile {
        display: none;
    }
    .no-mobile {
        display: block;
    }
}